<!DOCTYPE html>
<html lang="en">
        <link rel="stylesheet" href="{{ url_for('static', filename='contactlistcss.css') }}">
    <article class="Contact">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact List </title>
</head>
<body>
{% include('users.html') %}
    <div>
    <h1> Contact List</h1>
    <h3> For more recommendations </h3>
    <main>
        <ul id="contacts"></ul>
    </main>
    <script src="static/JS_ContactList.js"></script>
    <a href="/">
        <button class="buttonbacktoCV" style="margin: 5px;" type="button">Back to menu</button>
    </a>
    </div>
</body>
</article>
</html>