<main class="wrapper">
            <link rel="stylesheet" href="{{ url_for('static', filename='cssmain.css') }}">
    <script  src="static/js.js"></script>
    <article class="resume">
        <section class="grid-area name">
            <h1>moto</h1>
           
        </section>
        <section class="grid-area photo">
        <div>
            <img src="static/face-p.jpg" id="myImage" width="150px">
            <img class=image id="myImage" alt="" >
                <input type="button" class="glow-on-hover" onclick="changeImage()" value="Change" />

        </div>
        </section>
        <section class="grid-area about">
            <button class="glow-on-hover" onclick="rep1()">first moto</button> 
            <button class="glow-on-hover" onclick="rep()">second moto</button> 
        </section>
        <section class="grid-area work">

            <p> 
                The greatest pleasure in life is doing what people say you can not.
            </p> 

           
            
            <script src="static/js.js"></script>
            
            </section>

        <section class="grid-area education">
            <h1>Etay Bouhnik</h1>
            <h3>11.09.1995</h3>
        </section>
        <section class="grid-area skills">
            <h1>More Information</h1>
        </section>  
        <section class="grid-area community">
            <a href ="/Send_massage">
                <button class="glow-on-hover">Message</button>
            </a>
            <a href ="/Etaycv">
                <button class="glow-on-hover">CV</button>
            </a>
            <a href ="https://www.linkedin.com/in/etay-bouhnik-2969a41a6/">
                <button class="glow-on-hover">Linkedin</button>
            </a>
               </a>
            <a href ="/Contract">
                <button class="glow-on-hover">Contact</button>
            </a>
               <a href ="/hobbies">
                <button class="glow-on-hover">hobbies</button>
            </a>
        </section>

    </article>
</main>